<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">

	<Properties>
		<Property name="log-path">log</Property>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
	</Properties>

	<Appenders>
		<Console name="current" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="file"
			fileName="${log-path}/autodyn.log"
			filePattern="${log-path}/autodyn-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger
			name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener"
			level="warn">
			<appender-ref ref="current" />
		</Logger>
		<Logger name="org.springframework.beans" level="info">
			<appender-ref ref="current" />
		</Logger>
		<Logger name="org.springframework.web" level="info">
			<appender-ref ref="current" />
		</Logger>
		<Logger name="org.eclipse.jetty" level="info">
			<appender-ref ref="current" />
		</Logger>
		<Root level="debug">
			<appender-ref ref="current" />
		</Root>
	</Loggers>
</Configuration>