<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">

	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="warn">
			<appender-ref ref="Console" />
		</Logger>
		<Logger name="org.springframework.beans" level="info">
			<appender-ref ref="Console" />
		</Logger>
		<Logger name="org.springframework.web" level="info">
			<appender-ref ref="Console" />
		</Logger>
		<Logger name="org.eclipse.jetty" level="info">
			<appender-ref ref="Console" />
		</Logger>
		<Root level="debug">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>